@model IEnumerable<CommunityCares_Web.Models.Collect>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCampaignNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCampaignNavigation.Name)
            </td>
            <td>
                <a asp-action="Index3" asp-controller="Donation" asp-route-id="@item.Id">Ver Donaciones para esta fecha</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
