@model IEnumerable<CommunityCares_Web.Models.Assylum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BussinessEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellphoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepresentativeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BussinessEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellphoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Campaign" asp-route-id="@item.Id">Crear Campaña</a> |
                    <a asp-action="Index" asp-controller="Campaign" asp-route-id="@item.Id">Ver Campañas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
